body    {
    font-family: 'Lato', sans-serif;
    color: #4a4a4a;
}

.navbar {
    box-shadow: 0px 0px 10px lightgrey;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
}

.navbar-nav > li{
  padding-left:10px;
  padding-right:10px;
  color: #4a4a4a;
}

.container-fluid    {
    padding: 20px;
}

.slider-section {
    background: linear-gradient(to right, #cccdd5, #FEFEFE, #cccdd5);
    padding: 30px;
}

.programme-box  {
    margin: 10px;
}

.page-footer    {
    margin-top: 60px;
    background-color: #F1F1F3;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 15px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 10px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #0072c9;
    cursor: pointer;
    border-radius: 15px;
}

.slider::-moz-range-thumb {
    width: 25px; 
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}
